.footer-seccion {
  height: 90px;
  width: 100%;
  background-color: black;
}

.footer-row {
  padding: 35px;
  width: 70%;
}

.a-footer {
  color: #686868;
}

.footer-test {
  color: white;
}

.right {
  float: right;
}
