body {
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 15px;
  background-image: url(../img/crossword.png);
  color: #575757;
  margin: 0 0 1px;
  height: 100%;
  line-height: 1.7em;
  border-top: 10px solid black;
  
  .head-bar {
    background-color: black;
    width: 100%;
    height: 1px;
  }
}

.header-seccion {
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.container-title-main {
  margin-top: 115px;
}

.logo {
  position: relative;
  float: left;
  top: 30px;
}
